 .button{

    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 350px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.1rem;
    color: #442A06;
    background: linear-gradient(120deg, #71C7AE 0%, #71C791 100%);
    border-radius: 5px;
     transition-duration: 0.4s; 
}

 

/* .button:hover {
    background:black  /* linear-gradient(120deg, #71C7AE 50%, #71C791 50%) */; 
 
  

/* .button {
    background-color:green;
    transition-duration: 0.4s;
  }  */
  
  .button:hover {
    background:linear-gradient(120deg, #71C7AE 50%,black 50%);
    color: white;
  }


/*  we want a colour animation happening with an onClick
problem is the redirect, have a look atr the link firing on key release
so on key down - send change colour 
on key up -send to link    */