.button {
  width: 16rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: var(--main-lightest);
  background: var(--accent-one);
  border: 1px solid var(--accent-one);
  border-radius: 0px 0px 5px 5px;
  padding: 0.7rem 1rem;
  margin: 0rem 0.5rem 1rem;
  text-align: center;
}

.buttonbox:hover > .button {
  background: var(--accent-button);
  border: 0px 1px 1px 1px solid;
  border-color: var(--accent-button);
  cursor: pointer;
  transition: linear 0.2s;
}

.buttonbox:hover > .buttonimage {
  border: 1px;
  border-style: solid;
  border-color: var(--accent-button) /* var(--accent-one) */;
  border-radius: 5px 5px 0px 0px;
  cursor: pointer;
}

#recipeButton {
  min-height: 80px;
}

.buttonimage {
  border: 1px;
  border-style: solid;
  border-color: var(--main-grey);
  border-radius: 5px 5px 0px 0px;
  padding: 10px;
  width: 16rem;
  margin: 0px;
}

.buttonbox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

@media screen and (max-width: 600px) {
  .button {
    width: 16rem;
    /* max-width: 10rem; */
  }
  .buttonimage {
    width: 16rem;
    /* min-width: 10rem; */
  }
}

.recipeButton {
  width: 16rem;
  height: 80px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: var(--main-lightest);
  background: var(--accent-one);
  border: 1px solid var(--accent-one);
  border-radius: 0px 0px 5px 5px;
  padding: 0.7rem 1rem;
  margin: 0rem 0.5rem 1rem;
}

.buttonbox:hover > .recipeButton {
  background: var(--accent-button);
  border: 0px 1px 1px 1px solid;
  border-color: var(--accent-button);
  cursor: pointer;
  transition: linear 0.2s;
}
