.button {
  width: 12rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: var(--main-lightest);
  background: var(--accent-one);
  border: 1px solid var(--accent-one);
  border-radius: 5px;
  padding: 0.7rem 1rem;
  margin: 0rem 0.5rem 1rem 0.5rem;
}

.button:hover {
  background: var(--accent-three);
  border: 1px solid var(--accent-three);
  cursor: pointer;
  transition: linear 0.4s;
}

@media screen and (max-width: 600px) {
  .button {
    width: 16rem;
  }
}

.buttonimage {
  border: 1px;
  border-style: solid;
  border-color: var(--main-grey);
  border-radius: 5px;
  padding: 10px;
  width: 12rem;
  margin: 0px;
};

.buttonbox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100vw;

}
