.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  flex-direction: row;
  width: 100vw;
  height: 7vh;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
}


.container {
  width: 80%;
  background: #fff;
  margin: 5% auto;
  padding: 1rem;
  color: #000;
  border: 1px solid var(--main-grey);
  border-radius: 25px;
}

.header {
  text-align: center;
  margin-bottom: 10px;
}

.months {
  list-style-type: none;
  margin: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: safe center;
  flex-wrap: wrap;
}

.months > li {
  background: darkseagreen;
  line-height: 200%;
  padding: 0px 10px;
  border-radius: 4px;
  margin: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.foodTags {
  list-style-type: none;
  margin: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: safe center;
  flex-wrap: wrap;
  font-weight: bold;
  
}


.foodTags > li {
  background:#A3C9D9;
  line-height: 200%;
  padding: 0px 10px;
  border-radius: 4px;
  margin: 0.5rem;
  font-size: 0.8rem;
}

.foodTags > li:nth-child(1){
  background:#A3C9D9

}

.foodTags > li:nth-child(2){
  background:#E9DFAA;
}

.foodTags > li:nth-child(3){
  background:#EEA57C;
}

.foodTags > li:nth-child(4){
  background:#FFA8A8;
}

.mainImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 300px;
  padding: 1.5rem;
 }

.mainDescription {
  max-width: 850px;
  margin: 0 auto;
  padding: 1rem 0;
  line-height: 200%;
  text-align: left;

}


