.div {
  background-color: var(--accent-two);
  height: 7vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link {
  z-index: 2;
  text-decoration: none;
  color: inherit;
  font-size: calc(13px + 2vmin);
  padding-right: 15px;
  transition: ease-in-out, 0.25s;
  color: var(--main-lightest);
}
.link:hover {
  color: rgb(243, 169, 91);
}

.title {
  margin: 0;
  position: absolute;
  width: 100vw;
  text-align: center;
  color: var(--main-lightest);
}

@media screen and (max-width: 600px) {
  .div {
    background-color: var(--accent-two);
    height: 7vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .link {
    display: none;
  }

  .title {
    margin: 0;
    position: absolute;
    width: 100vw;
    text-align: center;
  }
}
