.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  flex-direction: row;
  width: 100vw;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #eaeaea;
  background-color: var(--accent-two);
}

.header {
  text-align: center;
  margin-bottom: 10px;
}

.container {
  width: 80%;
  background: #fff;
  margin: 5% auto;
  margin-bottom: 3vh;
  padding: 1rem;
  color: #000;
  border: 1px solid var(--main-grey);
  border-radius: 25px;
  margin-bottom: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h3 {
  text-align: center;
}

.recipeImage{
  height: auto;
  width: 90%;
  max-width: 400px;
  
  border-radius: 7px;
}

.imgIngredients {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
  flex-wrap: wrap;
  
}

.ingredients {
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  align-items: center;
  flex-wrap: wrap;
  height: 300px;

  min-width: 30vw;
  width: 60vw;
  
  background: darkseagreen;
  border-radius: 4px;
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 200%;
}

@media screen and (max-width: 650px) {
  .ingredients {
    height: auto;
    
  }
  
}

.smallHeader {
 font-size: 1.2rem;
}


.foodTags {
  list-style-type: none;
  margin: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: safe center;
  flex-wrap: wrap;
  font-weight: bold;
  
}


.foodTags > li {
  background:#A3C9D9;
  line-height: 200%;
  padding: 0px 10px;
  border-radius: 4px;
  margin: 0.5rem;
  font-size: 0.8rem;
}

.foodTags > li:nth-child(1){
  background:#A3C9D9

}

.foodTags > li:nth-child(2){
  background:#E9DFAA;
}

.foodTags > li:nth-child(3){
  background:#EEA57C;
}

.foodTags > li:nth-child(4){
  background:#FFA8A8;
}

.mainImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 300px;
  padding: 1.5rem;
 }

.mainDescription {
  max-width: 850px;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: left;
}


@media screen and (max-width: 600px) {
  .container {
    width: 80%;
    background: #fff;
    margin: 4% auto;
    margin-bottom: 5rem;
    padding: 1rem;
    color: #000;
    border: 1px solid var(--main-grey);
    border-radius: 25px;
  }
  
}

.recipeSection {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  background: #fff;
  margin: 5% auto;
  margin-top: 0;
  padding: 1rem;
  color: #000;
  border: 1px solid var(--main-grey);
  border-radius: 25px;
  margin-bottom: 12vh;
}