.div {
  background-color: var(--accent-one);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 60px;
}

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  flex-direction: row;
  width: 100vw;
  height: 8vh;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-color: var(--accent-two);
}